# Projet maison n° 3

In [5]:
# imports
import pandas as pd
import numpy as np
import os
import re

## 1. US baby names

On va s'intéresser au dataset **National data** de la SSA : https://www.ssa.gov/oact/babynames/limits.html

1. Télécharger le dataset des prénoms US : https://www.ssa.gov/oact/babynames/names.zip

Lire la documentation associée.

2. Implémenter une fonction Python `df_names_us()` qui produit un unique DataFrame avec tous les fichiers en utilisant **pandas** (par ex. avec la fonction `pandas.concat()`), pas de bash :)

Ordre et noms des colonnes du DataFrame : "year", "name", "gender", "births"

Le DataFrame doit être trié selon l'année croissante puis selon l'ordre défini dans les différents fichiers (voir la documentation du dataset).

In [6]:
files = os.listdir("/Users/dorianfitton/Documents/Cours Télécom/Kit BIG DATA/kit_bgd/names")
path = "/Users/dorianfitton/Documents/Cours Télécom/Kit BIG DATA/kit_bgd/names"

In [3]:
# names us
def df_names_us():

    df = pd.DataFrame()
    for filename in files:
        file = pd.read_csv(path + "/"+filename, names = ["name", "gender", "births"], encoding = 'unicode_escape')
        year = str(filename)[3:7]
        file['year']=year
        df = pd.concat([df, file], axis=0)
    first_column = df.pop('year')

    df.insert(0, 'year', first_column)
    
    df = df.sort_values(by=["year",'gender', 'births'], ascending = [True, True,False])
    df = df.dropna()
    df=df.reset_index()
    df = df.drop(labels='index', axis=1)
    #print(df.info())
    return df

In [4]:
%%time
df_names_us()

CPU times: user 3.59 s, sys: 1.06 s, total: 4.65 s
Wall time: 4.73 s

         year       name gender  births
0        1880       Mary      F  7065.0
1        1880       Anna      F  2604.0
2        1880       Emma      F  2003.0
3        1880  Elizabeth      F  1939.0
4        1880     Minnie      F  1746.0
...       ...        ...    ...     ...
2052776  2021     Zyeire      M     5.0
2052777  2021       Zyel      M     5.0
2052778  2021      Zyian      M     5.0
2052779  2021      Zylar      M     5.0
2052780  2021        Zyn      M     5.0

[2052781 rows x 4 columns]

## 2. Prénoms français

On va s'intéresser au dataset **Fichiers France hors Mayotte** de l'INSEE :  https://www.insee.fr/fr/statistiques/2540004/

L'idée est de charger les données et ensuite de les conformer au DataFrame des prénoms US. Ainsi, toute manipulation sur le DataFrame des prénoms US pourra être directement réutilisée avec le DataFrame des prénoms français.
 
1. Télécharger le dataset des prénoms français : https://www.insee.fr/fr/statistiques/fichier/2540004/nat2021_csv.zip


Lire la documentation, ça peut être utile...
 
2. Implémenter une fonction `df_names_fr()` qui produit un DataFrame avec les prénoms français en prenant le DataFrame des prénoms US comme modèle :
 
 - Même ordre et mêmes noms des colonnes : "year", "name", "gender", "births"
 - Mêmes dtypes pour les colonnes
 - Mêmes valeurs pour la colonne "gender"
 - Seuls les prénoms de 2 caractères et plus sont conservés
 - La casse des prénoms doit être identique : initiales en majuscule, autres lettres en minuscule
 - Les lignes avec des données inutilisables doivent être supprimées
 - Les données sont triées à l'identique : year (↑), puis gender (↑), puis births (↓) et enfin name (↑)
 - L'index du DataFrame doit aller de 0 à N-1

In [73]:
# names fr
def df_names_fr():
    df = pd.DataFrame()
    df = pd.read_csv('/Users/dorianfitton/Documents/Cours Télécom/Kit BIG DATA/kit_bgd/nat2021.csv', delimiter = ";",header=0, names = ['gender', 'name', 'year', 'births'], keep_default_na=False)
    mapping = {1:'M', 2:'F'}
    df['name'] = df['name'].str.lower()
    df['name'] = df['name'].str.title()
    df['gender'] = df['gender'].map(mapping)
    df = df.drop(df[df['name'].str.len()<2].index)
    #print(len(df))
    #print(df.loc[df['name'].str.contains('_', na=False)])
    #print(df.loc[df['name'].str.contains('_', na=False)].index)
    df = df.drop(df.loc[df['name'].str.contains('_', na=False)].index)
    #print(len(df))
    first_column = df.pop('year')
    second_column = df.pop('name')
    df.insert(0, 'year', first_column)
    df.insert(1, 'name', second_column)
    df['births'] = df['births'].astype(float)
    df = df.sort_values(by=["year", 'gender', 'births'], ascending = [True, True, False])

    df = df.drop(df[~df['year'].str.startswith('1') &~df['year'].str.startswith('2')].index)
    #print(df[df.isnull().any(axis=1)])
    df=df.dropna()
    df = df.reset_index()
    df = df.drop(labels=['index'], axis=1)
    #print(len(df))
    #print(df.loc[df.name.str.contains(r"-[a-z]+$")])
    return df

In [74]:
df = pd.DataFrame()
df = pd.read_csv('/Users/dorianfitton/Documents/Cours Télécom/Kit BIG DATA/kit_bgd/nat2021.csv', delimiter = ";",header=0, names = ['gender', 'name', 'year', 'births'])
df.loc[df.isnull().any(axis=1)]

        gender name  year  births
579411       2  NaN  2003       3
579412       2  NaN  XXXX      29

In [75]:
df = df_names_fr()

## 3. Taux de change

On va s'intéresser au dataset des cours des devises de la Banque de France :  http://webstat.banque-france.fr/fr/browseBox.do?node=5385566

Les données sont dans le fichier "Webstat_Export.csv".

L'idée est de charger les données, de les nettoyer et de pouvoir accéder aux cours de certaines devises à partir de leur code ISO3. On retiendra uniquement les colonnes se terminant effectivement par un code ISO3 entre parenthèses. Par ex., "Dollar des Etats-Unis (USD)".

Implémenter une fonction `df_taux_change()` qui produit un DataFrame avec les taux de change par date pour une liste de codes ISO3 de devises passée en argument. L'index du DataFrame doit correspondre aux dates (voir la fonction `pd.to_datetime()` avec le format`"%d/%m/%Y"`) et doit être trié par ordre croissant. Les colonnes du DataFrame doivent correspondre aux devises sélectionnées.

In [254]:
# taux de change

def df_taux_change(devises):
    df = pd.read_csv('/Users/dorianfitton/Documents/Cours Télécom/Kit BIG DATA/Kit-Big-Data/session3/Webstat_Export.csv',delimiter =';')
    first_value = 5
    #df.drop(df.index[0:first_value],0,inplace=True)
    df.drop(df.head(first_value).index, inplace=True)
    df['Titre :'][:]= pd.to_datetime(df['Titre :'][:], format = '%d/%m/%Y')
    df = df.sort_values(by='Titre :')
    #df.rename(columns=lambda x: re.search(r'\((.*?)\)',x).group(1))
    df = df.rename(columns= lambda x: re.sub(r'(.*)\((.*)\)',r'\2', x))
    df = df.set_index('Titre :')
    df = df[devises][first_value:]
    #df = df.sort_values(by='Titre :')
    for y in df.columns:
        df[y] = [x.replace(',', '.') for x in df[y]]
    df = df.dropna(axis=1)
    df = df.drop(df.loc[df.isin(['-']).any(axis=1)].index)
    df = df.astype(np.float64)
    
    
    
    
    return df

In [185]:
#df = df.drop(df.loc[df.isin(['-']).any(axis=1)].index)

               AUD     CAD
Titre :
2022-09-20  1,4893  1,3268
2022-09-19   1,495  1,3294
2022-09-16  1,4894  1,3226
2022-09-15  1,4853  1,3172
2022-09-14  1,4873  1,3177
...            ...     ...
1999-01-08  1,8406  1,7643
1999-01-07  1,8474  1,7602
1999-01-06   1,882  1,7711
1999-01-05  1,8944  1,7965
1999-01-04    1,91  1,8004

[6075 rows x 2 columns]

In [172]:
#[x.replace(',', '.') for x in df['AUD']]

['1.4893',
 '1.495',
 '-',
 '-',
 '1.4894',
 '1.4853',
 '1.4873',
 '1.4736',
 '1.4749',
 '-',
 '-',
 '1.4704',
 '1.4824',
 '1.4748',
 '1.4651',
 '1.4616',
 '-',
 '-',
 '1.4671',
 '1.4651',
 '1.4591',
 '1.4472',
 '1.4529',
 '-',
 '-',
 '1.4333',
 '1.4306',
 '1.4389',
 '1.4437',
 '1.4478',
 '-',
 '-',
 '1.4584',
 '1.4617',
 '1.4655',
 '1.4463',
 '1.4508',
 '-',
 '-',
 '1.4496',
 '1.4532',
 '1.4682',
 '1.4687',
 '1.4607',
 '-',
 '-',
 '1.4713',
 '1.4607',
 '1.4681',
 '1.4745',
 '1.4535',
 '-',
 '-',
 '1.4646',
 '1.4535',
 '1.462',
 '1.4605',
 '1.4707',
 '-',
 '-',
 '1.4677',
 '1.4848',
 '1.4767',
 '1.4869',
 '1.4839',
 '-',
 '-',
 '1.4886',
 '1.4893',
 '1.4802',
 '1.49',
 '1.491',
 '-',
 '-',
 '1.4871',
 '1.4883',
 '1.4961',
 '1.518',
 '1.5205',
 '-',
 '-',
 '1.5382',
 '1.5099',
 '1.5256',
 '1.521',
 '1.5278',
 '-',
 '-',
 '1.5248',
 '1.5212',
 '1.5254',
 '1.5177',
 '1.5061',
 '-',
 '-',
 '1.5039',
 '1.4939',
 '1.5051',
 '1.5174',
 '1.4998',
 '-',
 '-',
 '1.4845',
 '1.4985',
 '1.4917',
 '1.4884',
 '1.4842',
 '-',
 '-',
 '1.4805',
 '1.4829',
 '1.4861',
 '1.4933',
 '1.4982',
 '-',
 '-',
 '1.4995',
 '1.511',
 '1.5126',
 '1.5152',
 '1.4982',
 '-',
 '-',
 '1.498',
 '1.5036',
 '1.498',
 '1.4993',
 '1.5057',
 '-',
 '-',
 '1.5067',
 '1.5163',
 '1.5055',
 '1.5162',
 '1.5048',
 '-',
 '-',
 '1.4888',
 '1.4669',
 '1.478',
 '1.4825',
 '1.4913',
 '-',
 '-',
 '1.4699',
 '1.4814',
 '1.4828',
 '1.4828',
 '1.4972',
 '-',
 '-',
 '1.4816',
 '1.4653',
 '1.4581',
 '1.4663',
 '-',
 '-',
 '-',
 '-',
 '1.4612',
 '1.4603',
 '1.4599',
 '1.4654',
 '-',
 '-',
 '1.4552',
 '1.4578',
 '1.4431',
 '1.4374',
 '1.4651',
 '-',
 '-',
 '1.4696',
 '1.4829',
 '1.4809',
 '1.4795',
 '1.459',
 '-',
 '-',
 '1.4624',
 '1.4668',
 '1.4728',
 '1.4802',
 '1.4897',
 '-',
 '-',
 '1.4945',
 '1.5055',
 '1.5165',
 '1.5234',
 '1.5137',
 '-',
 '-',
 '1.5017',
 '1.5109',
 '1.4991',
 '1.4971',
 '1.4751',
 '-',
 '-',
 '1.4872',
 '1.5139',
 '1.5272',
 '1.5365',
 '1.5508',
 '-',
 '-',
 '1.5541',
 '1.5593',
 '1.5592',
 '1.5739',
 '1.5751',
 '-',
 '-',
 '1.5754',
 '1.5786',
 '1.5859',
 '1.5888',
 '1.5902',
 '-',
 '-',
 '1.5927',
 '1.5894',
 '1.5933',
 '1.6025',
 '1.6097',
 '-',
 '-',
 '1.6165',
 '1.5849',
 '1.5828',
 '1.5868',
 '1.582',
 '-',
 '-',
 '1.5971',
 '1.5771',
 '1.5727',
 '1.5814',
 '1.5866',
 '-',
 '-',
 '1.5774',
 '1.5662',
 '1.5709',
 '1.5833',
 '1.5811',
 '-',
 '-',
 '1.5803',
 '1.5709',
 '1.5762',
 '1.5804',
 '1.5774',
 '-',
 '-',
 '1.5804',
 '1.5778',
 '1.56',
 '1.5682',
 '1.5691',
 '-',
 '-',
 '1.5615',
 '1.5594',
 '1.5638',
 '1.5603',
 '1.5685',
 '-',
 '-',
 '1.5645',
 '1.5639',
 '1.5758',
 '1.584',
 '1.5855',
 '-',
 '-',
 '1.5815',
 '1.5714',
 '1.5763',
 '1.5866',
 '1.5795',
 '-',
 '-',
 '1.5765',
 '1.584',
 '1.5841',
 '1.5836',
 '1.6034',
 '-',
 '-',
 '1.5999',
 '1.5975',
 '1.5849',
 '1.5898',
 '1.5782',
 '-',
 '-',
 '1.5795',
 '1.5627',
 '1.5549',
 '1.5581',
 '1.5532',
 '-',
 '-',
 '1.5581',
 '1.558',
 '1.5521',
 '1.549',
 '1.5537',
 '-',
 '-',
 '1.569',
 '1.5699',
 '1.5697',
 '1.5642',
 '1.5621',
 '-',
 '-',
 '1.5594',
 '1.5602',
 '1.5574',
 '1.5544',
 '1.54',
 '-',
 '-',
 '1.5455',
 '1.5411',
 '1.5458',
 '1.5465',
 '1.5505',
 '-',
 '-',
 '1.551',
 '1.5528',
 '1.5528',
 '1.5601',
 '1.5707',
 '-',
 '-',
 '1.564',
 '1.5644',
 '1.5722',
 '1.566',
 '1.5751',
 '-',
 '-',
 '1.5837',
 '1.5839',
 '1.5913',
 '1.5937',
 '1.5957',
 '-',
 '-',
 '1.5985',
 '1.6095',
 '1.6112',
 '1.6115',
 '1.6129',
 '-',
 '-',
 '1.6165',
 '1.611',
 '1.6178',
 '1.62',
 '1.6201',
 '-',
 '-',
 '1.6111',
 '1.6077',
 '1.6153',
 '1.6114',
 '1.6015',
 '-',
 '-',
 '1.5986',
 '1.6035',
 '1.6027',
 '1.6044',
 '1.5952',
 '-',
 '-',
 '1.5961',
 '1.6038',
 '1.6088',
 '1.6156',
 '1.6167',
 '-',
 '-',
 '1.622',
 '1.6206',
 '1.6191',
 '1.6203',
 '1.6311',
 '-',
 '-',
 '1.6373',
 '1.6319',
 '1.617',
 '1.6138',
 '1.6059',
 '-',
 '-',
 '1.6006',
 '1.5963',
 '1.5958',
 '1.5965',
 '1.6002',
 '-',
 '-',
 '1.5968',
 '1.599',
 '1.6002',
 '1.6086',
 '1.6141',
 '-',
 '-',
 '1.6133',
 '1.6062',
 '1.6081',
 '1.6029',
 '1.601',
 '-',
 '-',
 '1.5944',
 '1.5959',
 '1.6089',
 '1.6082',
 '1.6043',
 '-',
 '-',
 '1.5907',
 '1.5876',
 '1.5817',
 '1.584',
 '1.5888',
 '-',
 '-',
 '1.5868',
 '1.5957',
 '1.5711',
 '1.5633',
 '1.576',
 '-',
 '-',
 '1.5836',
 '1.5836',
 '1.5853',
 '1.5811',
 '1.5753',
 '-',
 '-',
 '1.5726',
 '1.5756',
 '1.5762',
 '1.5818',
 '1.5821',
 '-',
 '-',
 '1.5832',
 '1.5763',
 '1.5719',
 '1.5742',
 '1.5696',
 '-',
 '-',
 '1.5687',
 '1.5731',
 '1.5731',
 '1.5718',
 '1.5678',
 '-',
 '-',
 '1.5804',
 '1.5792',
 '1.5756',
 '1.5793',
 '1.5775',
 '-',
 '-',
 '1.5796',
 '1.5753',
 '1.5732',
 '1.5785',
 '1.5804',
 '-',
 '-',
 '1.5698',
 '1.5736',
 '1.5765',
 '1.5652',
 '1.5683',
 '-',
 '-',
 '1.5634',
 '1.5673',
 '1.5526',
 '1.5509',
 '1.5433',
 '-',
 '-',
 '1.5523',
 '1.5547',
 '1.551',
 '1.5608',
 '1.5573',
 '-',
 '-',
 '1.5581',
 '1.5554',
 '1.5576',
 '1.5533',
 '1.5518',
 '-',
 '-',
 '1.559',
 '1.5581',
 '1.5554',
 '1.5492',
 '1.5491',
 '-',
 '-',
 '1.5459',
 '1.5448',
 '1.5561',
 '1.5652',
 '1.5613',
 '-',
 '-',
 '1.5579',
 '1.5539',
 '1.5581',
 '1.5482',
 '-',
 '-',
 '-',
 '-',
 '1.55',
 '1.5412',
 '1.5419',
 '1.5398',
 '-',
 '-',
 '1.5459',
 '1.5548',
 '1.5532',
 '1.5491',
 '1.54',
 '-',
 '-',
 '1.5365',
 '1.5347',
 '1.5427',
 '1.539',
 '1.5419',
 '-',
 '-',
 '1.5394',
 '1.5384',
 '1.543',
 '1.544',
 '1.5499',
 '-',
 '-',
 '1.5565',
 '1.5449',
 '1.5455',
 '1.5422',
 '1.557',
 '-',
 '-',
 '1.5605',
 '1.5317',
 '1.5347',
 '1.5378',
 '1.5392',
 '-',
 '-',
 '1.5445',
 '1.5518',
 '1.5573',
 '1.5613',
 '1.5602',
 '-',
 '-',
 '1.5666',
 '1.5638',
 '1.5682',
 '1.5681',
 '1.5693',
 '-',
 '-',
 '1.5761',
 '1.5727',
 '1.5781',
 '1.5847',
 '1.5831',
 '-',
 '-',
 '1.5819',
 '1.5914',
 '1.5744',
 '1.5709',
 '1.5728',
 '-',
 '-',
 '1.577',
 '1.5635',
 '1.5666',
 '1.5723',
 '1.5721',
 '-',
 '-',
 '1.568',
 '1.5642',
 '1.5734',
 '1.5742',
 '1.5783',
 '-',
 '-',
 '1.5758',
 '1.5836',
 '1.5824',
 '1.5927',
 '1.5928',
 '-',
 '-',
 '-',
 '1.5896',
 '1.6025',
 '1.6121',
 '1.6083',
 '-',
 '-',
 '-',
 '1.6039',
 '1.6118',
 '1.6191',
 '1.62',
 '-',
 '-',
 '1.6107',
 '1.6052',
 '1.6103',
 '1.6113',
 '1.6064',
 '-',
 '-',
 '1.609',
 '1.6161',
 '1.6185',
 '1.6334',
 '1.6374',
 '-',
 '-',
 '1.6387',
 '1.6361',
 '1.6384',
 '1.6274',
 '1.6246',
 '-',
 '-',
 '1.6182',
 '1.6163',
 '1.619',
 '1.6175',
 '1.6233',
 '-',
 '-',
 '1.6227',
 '1.6272',
 '1.6226',
 '1.6236',
 '1.6226',
 '-',
 '-',
 '1.63',
 '1.6263',
 '1.6172',
 '1.6237',
 '1.6234',
 '-',
 '-',
 '1.6359',
 '1.6356',
 '1.6346',
 '1.6406',
 '1.6533',
 '-',
 '-',
 '1.6563',
 '1.6673',
 '1.6603',
 '1.6585',
 '1.6592',
 '-',
 '-',
 '1.6578',
 '1.6644',
 '1.6733',
 '1.6801',
 '1.6575',
 '-',
 '-',
 '1.6555',
 '1.6554',
 '1.6378',
 '1.6403',
 '1.6357',
 '-',
 '-',
 '1.6405',
 '1.6421',
 '1.65',
 '1.6472',
 '1.6379',
 '-',
 '-',
 '1.6372',
 '1.6319',
 '1.6438',
 '1.6412',
 '1.6513',
 '-',
 '-',
 '1.6548',
 '1.6539',
 '1.6439',
 '1.6288',
 '1.624',
 '-',
 '-',
 '1.6242',
 '1.6152',
 '1.6174',
 '1.6219',
 '1.6327',
 '-',
 '-',
 '1.6244',
 '1.6282',
 '1.6264',
 '1.6286',
 '1.6232',
 '-',
 '-',
 '1.6291',
 '1.6219',
 '1.6171',
 '1.6242',
 '1.6214',
 '-',
 '-',
 '1.6216',
 '1.6291',
 '1.6371',
 '1.6472',
 '1.6454',
 '-',
 '-',
 '1.6442',
 '1.6544',
 '1.6428',
 '1.6447',
 '1.6485',
 '-',
 '-',
 '1.6525',
 '1.6522',
 '1.6514',
 '1.6406',
 '1.6445',
 '-',
 '-',
 '1.6403',
 '1.6492',
 '1.6415',
 '1.6495',
 '1.6508',
 '-',
 '-',
 '1.6488',
 '1.6446',
 '1.6348',
 '1.6412',
 '1.6472',
 '-',
 '-',
 '1.6376',
 '1.6246',
 '1.6139',
 '1.6154',
 '1.6359',
 '-',
 '-',
 '1.636',
 '1.6338',
 '1.6293',
 '1.6348',
 '1.6248',
 '-',
 '-',
 '1.6247',
 '1.6239',
 '1.6242',
 '1.6261',
 '1.623',
 '-',
 '-',
 '1.6175',
 '1.6296',
 '1.6268',
 '1.6344',
 '1.6406',
 '-',
 '-',
 '1.6313',
 '1.6321',
 '1.6342',
 '1.6272',
 '1.6292',
 '-',
 '-',
 '1.6261',
 '1.6356',
 '1.6292',
 '1.6324',
 '1.6476',
 '-',
 '-',
 '1.6447',
 '1.6421',
 '1.622',
 '1.6267',
 '1.6156',
 '-',
 '-',
 '1.6227',
 '1.6276',
 '1.628',
 '1.631',
 '1.6488',
 '-',
 '-',
 '1.6681',
 '1.6624',
 '1.6565',
 '1.6539',
 '1.6678',
 '-',
 '-',
 '1.6694',
 '1.671',
 '1.6653',
 '1.6751',
 '1.6736',
 '-',
 '-',
 '1.6805',
 '1.6805',
 '1.6687',
 '1.6625',
 '1.6709',
 '-',
 '-',
 '1.6613',
 '1.6704',
 '1.7046',
 '1.6825',
 '1.7022',
 '-',
 '-',
 '-',
 '1.6598',
 '1.6655',
 '1.6734',
 '1.6795',
 '-',
 '-',
 '1.6943',
 '1.6918',
 '1.7199',
 '1.7266',
 '1.7085',
 '-',
 '-',
 '1.7088',
 '1.7266',
 '1.7299',
 '1.7139',
 '-',
 '-',
 '-',
 '-',
 '1.7444',
 '1.7596',
 '1.7578',
 '1.779',
 '-',
 '-',
 '1.8004',
 '1.797',
 '1.8053',
 '1.7967',
 '1.8021',
 '-',
 '-',
 '1.8209',
 '1.8162',
 '1.7993',
 '1.8315',
 '1.8586',
 '-',
 '-',
 '1.8226',
 '1.8635',
 '1.8568',
 '1.8287',
 '1.8198',
 '-',
 '-',
 '1.7684',
 '1.7674',
 '1.7389',
 '1.7377',
 '1.733',
 '-',
 '-',
 '1.7103',
 '1.6917',
 '1.6794',
 '1.6911',
 '1.6998',
 '-',
 '-',
 '1.6875',
 '1.6672',
 '1.6565',
 '1.6442',
 '1.6384',
 '-',
 '-',
 '1.6363',
 '1.6294',
 '1.6142',
 '1.6195',
 '1.6129',
 '-',
 '-',
 '1.6151',
 '1.6138',
 '1.6175',
 '1.626',
 '1.6373',
 '-',
 '-',
 '1.6417',
 '1.6282',
 '1.6299',
 '1.6439',
 '1.6521',
 '-',
 '-',
 '1.6494',
 '1.6412',
 '1.6299',
 '1.629',
 '1.6291',
 '-',
 '-',
 '1.6127',
 '1.6149',
 '1.6184',
 '1.6177',
 '1.6154',
 '-',
 '-',
 '1.6122',
 '1.6115',
 '1.6188',
 '1.611',
 '1.6117',
 '-',
 '-',
 '1.6132',
 '1.6193',
 '1.6195',
 '1.6251',
 '1.6119',
 '-',
 '-',
 '1.6031',
 '1.6006',
 '-',
 '1.5995',
 '1.5992',
 '-',
 '-',
 '1.5996',
 '-',
 ...]

#df.rename(columns=lambda x: re.search(r'\((.*?)\)',x).group(1))
#df = df.rename(columns=lambda x: re.sub(r'(.*)\((.*)\)',r'\2', x))
#df.rename(columns={element: re.sub(r'(.*)\((.*)\)',r'\2', element) for element in df.columns})

### Tests

In [262]:
import unittest

class Session3Tests(unittest.TestCase):
    def test_df_names_us(self):
        df = df_names_us()
        # colonnes
        self.assertEqual(list(df.columns), ["year", "name", "gender", "births"])
        # lignes
        self.assertEqual(len(df), 2052781)
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)
        
    def test_df_names_fr(self):
        df = df_names_fr()
        # colonnes
        self.assertEqual(list(df.columns), ["year", "name", "gender", "births"])
        # lignes
        self.assertEqual(len(df), 648330)#fail
        # index
        self.assertTrue(isinstance(df.index, pd.RangeIndex))
        # test names
        self.assertTrue(df.loc[df.name.str.contains(r"^[A-Z]+$")].empty)
        self.assertTrue(df.loc[df.name.str.contains(r"-[a-z]+$")].empty)#fail
        # test gender
        self.assertEqual(len(df), len(df.loc[df.gender=="F"]) + len(df.loc[df.gender=='M']))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

    def test_df_taux_change(self):
        df = df_taux_change(["CHF", "GBP", "USD"])
        # colonnes
        self.assertEqual(list(df.columns), ["CHF", "GBP", "USD"])
        # index
        self.assertTrue(isinstance(df.index, pd.DatetimeIndex))
        # index trié
        self.assertEqual(list(df.index.argsort()), list(range(len(df))))
        # types taux
        self.assertTrue((df.dtypes == float).all())
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

In [263]:
# run tests
def run_tests():
    test_suite = unittest.makeSuite(Session3Tests)
    runner = unittest.TextTestRunner(verbosity=2)
    runner.run(test_suite)

In [264]:
# run tests
run_tests()

test_df_names_fr (__main__.Session3Tests) ... ok
test_df_names_us (__main__.Session3Tests) ... ok
test_df_taux_change (__main__.Session3Tests) ... ok

----------------------------------------------------------------------
Ran 3 tests in 6.328s

OK